This work will be used to visualize election results dating back to 1868 via HTML.

Frist, load the MongoDB JSON file. [PandasDF_fromMongoDB.ipynb]

Then, convert to a Pandas DataFrame and format the columns as desired for HTML. [Historical_Presidential_Table.html]

Create a 'templates' folder in the directory to store the html files, including the main index.html file.

Pass the HTML to an HTML template in order to render the template using Flask (app.py).

In [1]:
# Import libraries required to convert MongoDB JSON file to Pandas DataFrame
import pandas as pd 
import json
import pymongo

In [2]:
# Add path to MongoDB JSON file
mongo_file = 'historic_election_mongo.json'

In [3]:
# Convert to a DataFrame and view
hist_elec_from_Json_df = pd.read_json('historic_election_mongo.json', orient='records')
hist_elec_from_Json_df.head(100)

,election_year,fips,county_name,state,dem_votes,dem_nominee,rep_votes,rep_nominee
0,1868,1001,AUTAUGA,AL,851,Horatio Seymour,1505,Ulysses S. Grant
1,1872,1001,AUTAUGA,AL,669,Horace Greeley,1593,Ulysses S. Grant
2,1876,1001,AUTAUGA,AL,804,Samuel J. Tilden,1576,Rutherford B. Hayes
3,1880,1001,AUTAUGA,AL,978,Winfield Scott Hancock,974,James A. Garfield
4,1884,1001,AUTAUGA,AL,911,Grover Cleveland,877,James G. Blaine
...,...,...,...,...,...,...,...,...
95,1936,1005,BARBOUR,AL,2386,Franklin Delano Roosevelt,50,Alf Landon
96,1940,1005,BARBOUR,AL,2328,Franklin Delano Roosevelt,90,Wendell Willkie
97,1944,1005,BARBOUR,AL,2237,Franklin Delano Roosevelt,67,Thomes E. Dewey
98,1948,1005,BARBOUR,AL,1679,Harry S. Truman,101,Thomes E. Dewey
99,1952,1005,BARBOUR,AL,2250,Adlai Stevenson II,798,Dwight D. Eisenhower

In [4]:
# Rename columns for HTML view
hist_elec_from_Json_df_rename = hist_elec_from_Json_df.rename(columns={"election_year": "Year", "fips": "FIPS", "county_name": "County", "state": "State", "dem_votes": "Dem Votes", "dem_nominee": "Dem Nominee", "rep_votes": "Rep Votes", "rep_nominee": "Rep Nominee"})
hist_elec_from_Json_df_rename.head(100)

,Year,FIPS,County,State,Dem Votes,Dem Nominee,Rep Votes,Rep Nominee
0,1868,1001,AUTAUGA,AL,851,Horatio Seymour,1505,Ulysses S. Grant
1,1872,1001,AUTAUGA,AL,669,Horace Greeley,1593,Ulysses S. Grant
2,1876,1001,AUTAUGA,AL,804,Samuel J. Tilden,1576,Rutherford B. Hayes
3,1880,1001,AUTAUGA,AL,978,Winfield Scott Hancock,974,James A. Garfield
4,1884,1001,AUTAUGA,AL,911,Grover Cleveland,877,James G. Blaine
...,...,...,...,...,...,...,...,...
95,1936,1005,BARBOUR,AL,2386,Franklin Delano Roosevelt,50,Alf Landon
96,1940,1005,BARBOUR,AL,2328,Franklin Delano Roosevelt,90,Wendell Willkie
97,1944,1005,BARBOUR,AL,2237,Franklin Delano Roosevelt,67,Thomes E. Dewey
98,1948,1005,BARBOUR,AL,1679,Harry S. Truman,101,Thomes E. Dewey
99,1952,1005,BARBOUR,AL,2250,Adlai Stevenson II,798,Dwight D. Eisenhower

In [5]:
# Capture first 100 rows for HTML only since the full dataset is too large to load
hist_elec_from_Json_df_rename_limited = hist_elec_from_Json_df_rename.head(5000)

Once the DataFrame is created, save the DataFrame to an HTML table, create the HTML, then save as a file to use for the website.

In [6]:
# Convert DataFrame to HTML
hist_elec_from_Json_df_rename_limitedview = hist_elec_from_Json_df_rename_limited.to_html(index=False, classes="table table=striped", border=0)

In [7]:
# Create HTML for viewing
html_presidentialresults = f"""
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <style>
        body {{
            font-family: Arial, sans-serif;
            #margin: 20px;
        }}
        .dataframe {{
            margin: 0 auto;
            width: 80%;
            border-collapse: collapse;
        }}
        table {{
            text-align: center;
            margin: auto;
        }}
    </style>
</head>
<body>

    <div>{hist_elec_from_Json_df_rename_limitedview}</div>

    <!-- jQuery and DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {{
            // Initialize DataTable
            $('table').DataTable();
        }});
    </script>
</body>
</html>
"""

In [8]:
# Save the HTML to a file; confirm creation
with open("Historical_Presidential_Table_LimitedView.html", "w") as file:
    file.write(html_presidentialresults)

print("HTML file created: Historical_Presidential_Table_LimitedView.html")

HTML file created: Historical_Presidential_Table_LimitedView.html