In [72]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

### Set up database

#### Bind 'mongo' variable to MongoClient
#### Note: mopve to same directory as input json file

In [422]:
mongo = MongoClient()

#### Create A Database and Bind it to the 'stateInfoDB' variable

db = mongo['stateInfoDB2']

#### Create A Collection and Bind It To 'stateInfo' variable

In [427]:
states = db['stateInfo']

#### Read JSON File

In [430]:
with open('states_long.json', 'r') as f:
    data = json.load(f)

#### Inset Data Into Database

In [433]:
states.insert_many(data)

InsertManyResult([ObjectId('6776f1c4527d438cdc20fdb0'), ObjectId('6776f1c4527d438cdc20fdb1'), ObjectId('6776f1c4527d438cdc20fdb2'), ObjectId('6776f1c4527d438cdc20fdb3'), ObjectId('6776f1c4527d438cdc20fdb4'), ObjectId('6776f1c4527d438cdc20fdb5'), ObjectId('6776f1c4527d438cdc20fdb6'), ObjectId('6776f1c4527d438cdc20fdb7'), ObjectId('6776f1c4527d438cdc20fdb8'), ObjectId('6776f1c4527d438cdc20fdb9'), ObjectId('6776f1c4527d438cdc20fdba'), ObjectId('6776f1c4527d438cdc20fdbb'), ObjectId('6776f1c4527d438cdc20fdbc'), ObjectId('6776f1c4527d438cdc20fdbd'), ObjectId('6776f1c4527d438cdc20fdbe'), ObjectId('6776f1c4527d438cdc20fdbf'), ObjectId('6776f1c4527d438cdc20fdc0'), ObjectId('6776f1c4527d438cdc20fdc1'), ObjectId('6776f1c4527d438cdc20fdc2'), ObjectId('6776f1c4527d438cdc20fdc3'), ObjectId('6776f1c4527d438cdc20fdc4'), ObjectId('6776f1c4527d438cdc20fdc5'), ObjectId('6776f1c4527d438cdc20fdc6'), ObjectId('6776f1c4527d438cdc20fdc7'), ObjectId('6776f1c4527d438cdc20fdc8'), ObjectId('6776f1c4527d438cdc20fdc9'), ObjectId('6776f1c4527d438cdc20fdca'), ObjectId('6776f1c4527d438cdc20fdcb'), ObjectId('6776f1c4527d438cdc20fdcc'), ObjectId('6776f1c4527d438cdc20fdcd'), ObjectId('6776f1c4527d438cdc20fdce'), ObjectId('6776f1c4527d438cdc20fdcf'), ObjectId('6776f1c4527d438cdc20fdd0'), ObjectId('6776f1c4527d438cdc20fdd1'), ObjectId('6776f1c4527d438cdc20fdd2'), ObjectId('6776f1c4527d438cdc20fdd3'), ObjectId('6776f1c4527d438cdc20fdd4'), ObjectId('6776f1c4527d438cdc20fdd5'), ObjectId('6776f1c4527d438cdc20fdd6'), ObjectId('6776f1c4527d438cdc20fdd7'), ObjectId('6776f1c4527d438cdc20fdd8'), ObjectId('6776f1c4527d438cdc20fdd9'), ObjectId('6776f1c4527d438cdc20fdda'), ObjectId('6776f1c4527d438cdc20fddb'), ObjectId('6776f1c4527d438cdc20fddc'), ObjectId('6776f1c4527d438cdc20fddd'), ObjectId('6776f1c4527d438cdc20fdde'), ObjectId('6776f1c4527d438cdc20fddf'), ObjectId('6776f1c4527d438cdc20fde0'), ObjectId('6776f1c4527d438cdc20fde1'), ObjectId('6776f1c4527d438cdc20fde2'), ObjectId('6776f1c4527d438cdc20fde3'), ObjectId('6776f1c4527d438cdc20fde4'), ObjectId('6776f1c4527d438cdc20fde5'), ObjectId('6776f1c4527d438cdc20fde6')], acknowledged=True)

#### Confirm DB is as expected

In [436]:
print(db.list_collection_names())

['stateInfo']

In [438]:
states = db['stateInfo']

#### Confirm one record is as expected
should find record for Illinois:

  {
    _id: ObjectId('6776c262f0920008d07495c1'),
    state_id: 12,
    state_name: 'Illinois',
    state_abbrev: 'IL',
    fips: '17'
  }
]

In [388]:
query = {"state_id":12}
results = states.find(query)
pprint(results[0])

{'_id': ObjectId('6776c262f0920008d07495c1'),
 'fips': '17',
 'state_abbrev': 'IL',
 'state_id': 12,
 'state_name': 'Illinois'}

### Access Data Examples

#### - One State By Name (with .find)

In [392]:
query = {"state_name":'Illinois'}
results = states.find(query)
pprint(results[0])

{'_id': ObjectId('6776c262f0920008d07495c1'),
 'fips': '17',
 'state_abbrev': 'IL',
 'state_id': 12,
 'state_name': 'Illinois'}

#### - One State By ID  (with .find)

In [395]:
query = {"state_id":12}
results = states.find(query)
pprint(results[0])

{'_id': ObjectId('6776c262f0920008d07495c1'),
 'fips': '17',
 'state_abbrev': 'IL',
 'state_id': 12,
 'state_name': 'Illinois'}

#### - More Than One State By Name (with .find)
'results' is a list

In [398]:
query = {'$or': [
            {"state_name":'Illinois'},
            {"state_name":'California'},
        ]}
results = states.find(query)
#length = len(list(results))
#print(length)
#print(type(results))
#for result in range(length):
for result in results:
    pprint(result)

{'_id': ObjectId('6776c262f0920008d07495b2'),
 'fips': '06',
 'state_abbrev': 'CA',
 'state_id': 4,
 'state_name': 'California'}
{'_id': ObjectId('6776c262f0920008d07495c1'),
 'fips': '17',
 'state_abbrev': 'IL',
 'state_id': 12,
 'state_name': 'Illinois'}
{'_id': ObjectId('6776f192527d438cdc20fd7c'),
 'fips': '06',
 'state_abbrev': 'CA',
 'state_id': 4,
 'state_name': 'California'}
{'_id': ObjectId('6776f192527d438cdc20fd84'),
 'fips': '17',
 'state_abbrev': 'IL',
 'state_id': 12,
 'state_name': 'Illinois'}

#### - More than One State by ID (with .find)

In [401]:
query = {'$or': [
            {"state_id":0},
            {"state_id":10},
            {"state_id":54},
        ]}
results = states.find(query)
#length = len(list(results))
#print(length)
#print(type(results))
#for result in range(length):
for result in results:
    pprint(result)

{'_id': ObjectId('6776c262f0920008d07495b4'),
 'fips': '15',
 'state_abbrev': 'HI',
 'state_id': 10,
 'state_name': 'Hawaii'}
{'_id': ObjectId('6776c262f0920008d07495c2'),
 'fips': '01',
 'state_abbrev': 'AL',
 'state_id': 0,
 'state_name': 'Alabama'}
{'_id': ObjectId('6776c262f0920008d07495e0'),
 'fips': '78',
 'state_abbrev': 'VI',
 'state_id': 54,
 'state_name': 'Virgin Islands'}
{'_id': ObjectId('6776f192527d438cdc20fd78'),
 'fips': '01',
 'state_abbrev': 'AL',
 'state_id': 0,
 'state_name': 'Alabama'}
{'_id': ObjectId('6776f192527d438cdc20fd82'),
 'fips': '15',
 'state_abbrev': 'HI',
 'state_id': 10,
 'state_name': 'Hawaii'}
{'_id': ObjectId('6776f192527d438cdc20fdae'),
 'fips': '78',
 'state_abbrev': 'VI',
 'state_id': 54,
 'state_name': 'Virgin Islands'}

#### - Get State Name By ID  -> Isolate Name

In [404]:
query = {"state_id":12}
results = states.find(query)
state_name = results[0]['state_name']
print(f"State Name: {state_name}")

State Name: Illinois

In [406]:
query = {}
fields ={'state_name':1}
results = states.find(query, fields)
result_list = list(results)
state_name_list = []
for result in result_list:
    state_name = result['state_name']
    state_name_list.append(state_name)
print(state_name_list)

['Arizona', 'Connecticut', 'Colorado', 'Florida', 'California', 'Georgia', 'Hawaii', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Louisiana', 'Maine', 'Kentucky', 'Maryland', 'Massachusetts', 'Arkansas', 'Delaware', 'Alaska', 'Illinois', 'Alabama', 'Michigan', 'Mississippi', 'Minnesota', 'Montana', 'Nebraska', 'Nevada', 'New Jersey', 'New Hampshire', 'Oregon', 'Pennsylvania', 'Missouri', 'Rhode Island', 'Oklahoma', 'North Carolina', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia', 'New Mexico', 'Washington', 'West Virginia', 'Wisconsin', 'Vermont', 'American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'Virgin Islands', 'Wyoming', 'North Dakota', 'Ohio', 'New York', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'Virgin Islands']

#### - Get All State Name Abbreviations As Sorted List

In [409]:
query = {}
fields = {'state_abbrev':1}
sortSpec = [('state_abbrev',1)]
state_name_abbrevs = states.find(query, fields, sort = sortSpec)
#state_name_abbrevs_list = list(state_name_abbrevs)
state_name_abbrev_list = []
for result in state_name_abbrevs:
    state_name_abbrev = result['state_abbrev']
    state_name_abbrev_list.append(state_name_abbrev)
print(state_name_abbrev_list)

['AK', 'AK', 'AL', 'AL', 'AR', 'AR', 'AS', 'AS', 'AZ', 'AZ', 'CA', 'CA', 'CO', 'CO', 'CT', 'CT', 'DE', 'DE', 'FL', 'FL', 'GA', 'GA', 'GU', 'GU', 'HI', 'HI', 'IA', 'IA', 'ID', 'ID', 'IL', 'IL', 'IN', 'IN', 'KS', 'KS', 'KY', 'KY', 'LA', 'LA', 'MA', 'MA', 'MD', 'MD', 'ME', 'ME', 'MI', 'MI', 'MN', 'MN', 'MO', 'MO', 'MP', 'MP', 'MS', 'MS', 'MT', 'MT', 'NC', 'NC', 'ND', 'ND', 'NE', 'NE', 'NH', 'NH', 'NJ', 'NJ', 'NM', 'NM', 'NV', 'NV', 'NY', 'NY', 'OH', 'OH', 'OK', 'OK', 'OR', 'OR', 'PA', 'PA', 'PR', 'PR', 'RI', 'RI', 'SC', 'SC', 'SD', 'SD', 'TN', 'TN', 'TX', 'TX', 'UT', 'UT', 'VA', 'VA', 'VI', 'VI', 'VT', 'VT', 'WA', 'WA', 'WI', 'WI', 'WV', 'WV', 'WY', 'WY']

#### - Get All State Names <-> IDs, As Dictionary

In [412]:
query = {}
fields ={'state_name':1,'state_id':1}
results = states.find(query, fields)
result_list = list(results)
state_name_id_dict = {}
for result in result_list:
    state_id = result['state_id']
    state_name = result['state_name']
    state_name_id_dict[state_name] = state_id 
print(state_name_id_dict)

{'Arizona': 2, 'Connecticut': 6, 'Colorado': 5, 'Florida': 8, 'California': 4, 'Georgia': 9, 'Hawaii': 10, 'Idaho': 11, 'Indiana': 13, 'Iowa': 14, 'Kansas': 15, 'Louisiana': 17, 'Maine': 18, 'Kentucky': 16, 'Maryland': 19, 'Massachusetts': 20, 'Arkansas': 3, 'Delaware': 7, 'Alaska': 1, 'Illinois': 12, 'Alabama': 0, 'Michigan': 21, 'Mississippi': 23, 'Minnesota': 22, 'Montana': 25, 'Nebraska': 26, 'Nevada': 27, 'New Jersey': 29, 'New Hampshire': 28, 'Oregon': 36, 'Pennsylvania': 37, 'Missouri': 24, 'Rhode Island': 38, 'Oklahoma': 35, 'North Carolina': 32, 'South Carolina': 39, 'South Dakota': 40, 'Tennessee': 41, 'Texas': 42, 'Utah': 43, 'Virginia': 45, 'New Mexico': 30, 'Washington': 46, 'West Virginia': 47, 'Wisconsin': 48, 'Vermont': 44, 'American Samoa': 50, 'Guam': 51, 'Northern Mariana Islands': 52, 'Puerto Rico': 53, 'Virgin Islands': 54, 'Wyoming': 49, 'North Dakota': 33, 'Ohio': 34, 'New York': 31}

#### - Get All State Names <-> Fips, As Dictioary

In [415]:
query = {}
fields ={'state_name':1,'fips':1}
results = states.find(query, fields)
result_list = list(results)
state_name_fips_dict = {}
for result in result_list:
    fips = result['fips']
    state_name = result['state_name']
    state_name_fips_dict[state_name] = fips 
print(state_name_fips_dict)

{'Arizona': '04', 'Connecticut': '09', 'Colorado': '08', 'Florida': '12', 'California': '06', 'Georgia': '13', 'Hawaii': '15', 'Idaho': '16', 'Indiana': '18', 'Iowa': '19', 'Kansas': '20', 'Louisiana': '22', 'Maine': '23', 'Kentucky': '21', 'Maryland': '24', 'Massachusetts': '25', 'Arkansas': '05', 'Delaware': '10', 'Alaska': '02', 'Illinois': '17', 'Alabama': '01', 'Michigan': '26', 'Mississippi': '28', 'Minnesota': '27', 'Montana': '30', 'Nebraska': '31', 'Nevada': '32', 'New Jersey': '34', 'New Hampshire': '33', 'Oregon': '41', 'Pennsylvania': '42', 'Missouri': '29', 'Rhode Island': '44', 'Oklahoma': '40', 'North Carolina': '37', 'South Carolina': '45', 'South Dakota': '46', 'Tennessee': '47', 'Texas': '48', 'Utah': '49', 'Virginia': '51', 'New Mexico': '35', 'Washington': '53', 'West Virginia': '54', 'Wisconsin': '55', 'Vermont': '50', 'American Samoa': '60', 'Guam': '66', 'Northern Mariana Islands': '69', 'Puerto Rico': '72', 'Virgin Islands': '78', 'Wyoming': '56', 'North Dakota': '38', 'Ohio': '39', 'New York': '36'}

#### - Move Database into Dataframe

In [418]:
allData = list(states.find())
df = pd.DataFrame(allData)
df.head()

                        _id  state_id   state_name state_abbrev fips
0  6776c262f0920008d07495ae         2      Arizona           AZ   04
1  6776c262f0920008d07495af         6  Connecticut           CT   09
2  6776c262f0920008d07495b0         5     Colorado           CO   08
3  6776c262f0920008d07495b1         8      Florida           FL   12
4  6776c262f0920008d07495b2         4   California           CA   06